## proxy settings : optional
## https://qiita.com/SolKul/items/2561c62734958c231b24
HTTP_PROXY=proxy_url:port
http_proxy=proxy_url:port
HTTPS_PROXY=proxy_url:port
https_proxy=proxy_url:port
FTP_PROXY=proxy_url:port
ftp_proxy=proxy_url:port
NO_PROXY=no_proxy_url
no_proxy=no_proxy_url

## do not write real token here
## export HF_TOKEN=your_token in shell instead
# HF_TOKEN=your_token_here
